%h3 Your items (#{@order.item_count}):

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Price
        %th Quantity
        %th Subtotal
    %tfoot
      %tr
        %td{colspan: "2"}
        %td 
          %strong Subtotal: 
        %td 
          %strong #{number_to_currency(@order.subtotal, precision: 2)}
      %tr
        %td{colspan: "2"}
        %td 
          %strong Discount: 
        %td 
          %strong #{number_to_currency(@order.discount, precision: 2)}
      %tr
        %td{colspan: "2"}
        %td 
          %strong Shipping: 
        %td 
          %strong #{number_to_currency(@order.shipping, precision: 2)}
      %tr
        %td{colspan: "2"}
        %td 
          %strong Total: 
        %td 
          %strong #{number_to_currency(@order.total, precision: 2)}
      %tr
        %td{colspan: "3"}
        %td 
          = button_to "Submit", checkout_order_path, method: :patch
    %tbody
      - @order_items.each do |item|
        %tr
          %td= link_to item.product.name, product_path(item.product.id)
          %td= number_to_currency(item.product.price, precision: 2)
          %td
            = form_for(item) do |f| 
              = f.number_field :quantity, min: 0
              = f.submit "update"
          %td= number_to_currency(item.subtotal, precision: 2)



