%p
  %strong Name:
  = @product.name
%p
  %strong Description:
  = @product.description
%p
  %strong Price:
  = number_to_currency(@product.price, precision: 2)
%p
  %strong Stock:
  = @product.stock > 0 ? "Available" : "Out of stock"

= link_to 'Back', products_path
