<!DOCTYPE html>
<html>
<head>
  <title>Oauth2Consumer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">

    <%= render "layouts/header" %>   

    <div class="alert">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: "alert-#{name}" %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
